<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title style="text-align: center; padding-top: 10px;">Registrate</ion-card-title>
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="usuarioNombre" placeholder="Nombre"> </ion-input>
      <ion-input type="text" [(ngModel)]="usuarioCedula" placeholder="Cedula"> </ion-input>
      <ion-input type="text" [(ngModel)]="usuarioCelular" placeholder="Celular"> </ion-input>
      <ion-input type="text" [(ngModel)]="usuarioCorreo" placeholder="Correo"> </ion-input>
      <ion-input type="text" [(ngModel)]="usuarioContrasenia" placeholder="Contraseña"> </ion-input>

      <ion-button (click)="CreateRecord()" expand="full" color="success"> Guardar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
